{% extends 'base.html' %}
{% load static %}

{% block title %}Perguntas e Respostas{% endblock %}
{% block nav %}
<i class="bi bi-house-door-fill"></i>
<button class="btn btn-light" id="scroll-to-top">Início</button>
<button class="btn btn-light" id="scroll-to-bottom">Final</button>
<button class="btn btn-success" id="enviar-respostas">Enviar Respostas</button>
<button class="btn btn-danger" id="limpar-respostas">Limpar Respostas</button>
<img src="{{ MEDIA_URL }}/media/media/future.webp" alt="future" class="img-fluid future" style="max-height: 50px;"
    id="future">
{% endblock %}
{% block content %}
<div class="container">
    <h1 class="row col-10 mx-auto titulo-prova">{{ prova.nome }}</h1>
    <div id="perguntas">
        {% for pergunta in perguntas %}
        <div class="pergunta">
            {% if user.is_authenticated %}
            <form action="{% url 'excluir_pergunta' pergunta.id %}" method="post">
                {% csrf_token %}
                <button type="submit" class="btn btn-danger">Excluir Pergunta</button>
            </form>
            {% endif %}
            <h2>{{ pergunta.texto_formatado|safe }}</h2>
            {% if pergunta.imagem %}
            <img src="{{ pergunta.imagem.url }}" alt="Imagem da pergunta">
            {% endif %}
            <!-- Renderizar respostas -->
            {% for resposta in pergunta.resposta_set.all %}
            <div class="resposta">
                <label>
                    <input type="checkbox" name="{{ pergunta.id }}" value="{{ resposta.id }}"
                        {% if resposta.correta %}data-correta="true" {% endif %}>
                    <span style="font-size:25px;line-height: 1.2;"
                        id="resposta-label-{{ pergunta.id }}-{{ resposta.id }}"
                        class="resposta-label {% if resposta.correta %}correta{% endif %}">{{ resposta.texto_formatado|safe }}</span>
                </label>
            </div>
            {% endfor %}
        </div>
        {% endfor %}
    </div>
    <div class="text-center">
        <button class="btn btn-primary" id="pergunta-anterior">Pergunta Anterior</button>
        <button class="btn btn-primary" id="proxima-pergunta">Próxima Pergunta</button>
        <button class="btn btn-success" id="marcar-respostas">Validar Respostas</button>
        <button class="btn btn-danger" id="limpar-respostas1">Limpar Respostas</button>
        <!-- Botão para excluir a pergunta -->

    </div>
</div>
<script>
    document.addEventListener('DOMContentLoaded', function () {
        const perguntas = document.querySelectorAll('.pergunta');
        let perguntaAtual = 0;

        // Função para mostrar a pergunta atual
        function mostrarPerguntaAtual() {
            perguntas.forEach((pergunta, index) => {
                if (index === perguntaAtual) {
                    pergunta.style.display = 'block';
                } else {
                    pergunta.style.display = 'none';
                }
            });

            // Habilitar ou desabilitar o botão "Pergunta Anterior" com base na pergunta atual
            const perguntaAnteriorBtn = document.getElementById('pergunta-anterior');
            perguntaAnteriorBtn.disabled = perguntaAtual === 0; // Desabilita o botão na primeira pergunta
        }

        // Mostrar a primeira pergunta ao carregar a página
        mostrarPerguntaAtual();

        // Ouvinte de evento para o botão "Próxima Pergunta"
        const proximaPerguntaBtn = document.getElementById('proxima-pergunta');
        proximaPerguntaBtn.addEventListener('click', () => {
            perguntaAtual = (perguntaAtual + 1) % perguntas.length;
            mostrarPerguntaAtual();
        });

        // Ouvinte de evento para o botão "Pergunta Anterior"
        const perguntaAnteriorBtn = document.getElementById('pergunta-anterior');
        perguntaAnteriorBtn.addEventListener('click', () => {
            if (perguntaAtual > 0) {
                perguntaAtual--; // Decrementa o índice da pergunta atual
            }
            mostrarPerguntaAtual();
        });
    });
</script>
{% endblock %}