/* Seu CSS personalizado aqui */

.resposta-correta label {
  color: blue !important;
  /* Define a cor azul para respostas corretas */
}

.resposta-incorreta label {
  color: red !important;
  /* Define a cor vermelha para respostas incorretas */
}

.py-4 {
  margin-top: 170px;
  /* Ajuste conforme necessário */
}

.jason {
  font-size: 15px;
  line-height: 1;
  color: black;
  font-weight: bold;
}

.titulo-prova {
  font-weight: bold;
  margin-bottom: 30px;
  box-shadow: 2px 2px 8px black;
  border-radius: 10px;
}

.titulo-prova h1 {
  margin: 0 auto;
}

.prova {
  box-shadow: 2px 2px 8px black;
  border-radius: 10px;
  padding: 10px;
}

.break-line {
  margin-top: 8px;
  margin-bottom: 8px;
 }

.conf-prova {
  margin-top: 10px;
  padding: 10px;
}

div.pergunta{
  background-color: #e4e0e0;
  border-radius: 3px;
  box-shadow: 2px 2px 4px black; 
  margin-bottom: 10px;
}

.m-0{
  background-color: #ccc;
  color: black;
}

.resposta{
  background-color: aliceblue;
  padding: 2px;
  border-radius: 3px;
  box-shadow: 2px 2px 2px black;
}

.btn {
  margin-left: 10px;
}

.future{
  background-color: rgb(21, 21, 41);
  opacity: 0.05;
}

.pergunta {
  display: none; /* Inicialmente, todas as perguntas estão ocultas */
}

.mostrar {
  display: block; /* Classe para mostrar a pergunta */
}
